<div class="row componentHeader">
    <div class="col-xs-12">
        <h2 class="pull-left">{{contact.name}}</h2>
        <img src="{{contact.imageUrl}}" alt="{{contact.name}}">
        <button id="deleteButton" class="btn btn-danger pull-right">Delete</button>
        <button id="editButton" class="btn btn-primary pull-right">Edit</button>
    </div>
</div>
<div class="row componentBody">
    <div class="col-xs-12">        
        <p><strong>Email: {{contact.email}}</strong></p>
        <p><strong>Phone: {{contact.phone}}</strong></p>
    </div>
</div>