<div class="row componentHeader">
    <div class="col-xs-12">
        <h2 class="pull-left">{{contact.name}}</h2>
        <img src="{{contact.imageUrl}}" alt="{{contact.name}}">
        <a id="deleteButton" class="btn btn-danger pull-right" (click)="onDelete()">Delete</a>
        <a routerLink="edit" id="editButton" class="btn btn-primary pull-right">Edit</a>
    </div>
</div>
<div class="row componentBody">
    <div class="col-xs-12">        
        <p><strong>Email: {{contact.email}}</strong></p>
        <p><strong>Phone: {{contact.phone}}</strong></p>
    </div>
    <div *ngFor="let contact of contact.group">
        <div class="col-xs-12">
            <div>
                <cms-contact-item class="col-sm-11" [contact]="contact"></cms-contact-item>
              </div>
        </div>
    </div>
</div>