<div class="row componentHeader">
    <div class="col-xs-12">
        <h2 class="pull-left"><strong>Contacts</strong></h2>
        <button class="btn btn-success pull-right" routerLink="new">New Contact</button>
    </div>
</div>
<div class="row componentBody">
    <div class="col-xs-12">
        <div>
            <cms-contact-item *ngFor="let contact of contacts" [contact]="contact" dnd-draggable [dragEnabled]="true" [dragData]="contact" [dropZones]="['contactGroup']"></cms-contact-item>
        </div>      
    </div>
</div>